fresh-env

.DS_Store
# host.json
local.settings.json
**/*local.settings.json*
**/*host.json*

**/*aml*
!streamlit_run.py

**/*pycache*ß
__pycache__/

**/*pyc*
**/*azurite*

.env/
.env

.python_packages
.vscode*
.vscode/

!host.json
!requirements.txt
